<div class="ui raised segment">
  <h1 class="ui header"><%= params[:query] %> (<%= @stocks.count %> results)</h1>
  <div class="ui divider"></div>
  <div class="ui divided link items">
    <% @stocks.each do |stock| %>
      <a class="item" href="<%= stock_path(stock) %>">
        <div class="content">
          <div class="header">
            <%= stock.Name %> : <%= stock.Symbol %>
          </div>
          <div class="meta">
            <%= stock.Sector %> : <%= stock.Industry %>
          </div>
          <div class="extra">
            <div class="ui right floated primary button">
              View More
              <i class="right chevron icon"></i>
            </div>
            <div class="ui label"><i class="green arrow icon"></i> $<%= number_to_human stock.MarketCap %> MarketCap</div>
            <div class="ui label"><i class="yellow star icon"></i> $<%= stock.LastSale %> LastSale</div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
